= render 'shared/errors', obj: @article

= form_for @article do |f|
  .form-group.row
    .col-sm-2.text-right.font-weight-bold
      = f.label :title, class: 'col-form-label'
    .col-sm-8
      = f.text_field :title, class: 'form-control', placeholder: 'Article Title'

  .form-group.row
    .col-sm-2.text-right.font-weight-bold
      = f.label :description, class: 'col-form-label'
    .col-sm-8
      = f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Article'

  .row
    .col-sm-2.text-right.font-weight-bold
      | Categories
    .col-sm-8
      .form-check.form-check-inline
        - f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
          = cb.label(class: 'form-check-label') { cb.check_box(class: 'form-check-input') + cb.text }

  .form-group.row
    .offset-sm-2.col-sm-6
      = link_to 'Back to list', articles_path, class: 'btn btn-primary'
      = f.submit class: 'btn btn-success'