= render 'shared/errors', obj: @user

= form_for @user do |f|
  .form-group.row
    .col-sm-2.text-right.font-weight-bold
      = f.label :username, class:'col-form-label '
    .col-sm-8 
      = f.text_field :username, class:'form-control', placeholder:'Username'  

  .form-group.row
    .col-sm-2.text-right.font-weight-bold
      = f.label :email, class:'col-form-label'
    .col-sm-8 
      = f.email_field :email, class:'form-control', placeholder:'email'   

  .form-group.row
    .col-sm-2.text-right.font-weight-bold
      = f.label :password, class:'col-form-label'
    .col-sm-8 
      = f.password_field :password, class:'form-control', placeholder:'Password'   

  .form-group.row
    .offset-sm-2.col-sm-6
      = link_to 'Back to list', articles_path, class:'btn btn-primary'
      = f.submit(@user.new_record? ? 'Sign up' : 'Update account', class:'btn btn-success')