<div class="">
  <h1>About me</h1>
</div>

<div class="">
  <p>I'm 25 years old guy learning ruby on rails to make some money of it.</p>
  <p>I like warplanes. I would love to fly a (civilian) helicopter one day. But I need money for it (see above).</p>
</div>

