<%= stylesheet_link_tag "w3", :media => "all" %>

<div class="w3-container w3-blue">
  <h1>Fairchild A-10 Thunderbolt II</h1>
</div>

<div class="w3-display-container w3-center">
  <%= image_tag("A-10-In-flight.jpg", alt: "A-10 In flight", style: "width:50%") %>
  <div class="w3-display-bottommiddle w3-container">AWESOME!!!</div>

</div>

<div class="w3-container w3-cell">
  <p>
    The A-10 Thunderbolt II is an American single-seat, twin-engine, straight-wing jet aircraft developed
    by Fairchild-Republic and operated by the United States Air Force to provide close air support (CAS)
    of ground forces by attacking tanks, armored vehicles, and other ground targets with a limited
    air interdiction capability.
  </p>
</div>

<div class="w3-container w3-cell">
  <p>
    It is designed from the ground up around the massive GAU-8 avenger 30mm cannon,
    and is armored to withstand incoming fire up to 23mm. It is also designed to be incredibly durable,
    able to fly while missing sections of its wings, an engine, or half of its tail.
    The A-10's official name comes from the Republic P-47 Thunderbolt of World War II,
    a fighter that was particularly effective at close air support.
    The A-10 is more commonly known by its nickname "Warthog" or simply "Hog".


  </p>
</div>
<div class="w3-container w3-center">
<%= link_to 'Blog', articles_path %> |
<%= link_to 'About', about_path %>
</div>